.container {
  display: flex;
  justify-content: center;
}
.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: grey;
}

.card-detail-container {
  width: 70%;
}
.card {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:white;
  align-items: stretch;
  min-height: 300px;
  justify-content: center;
  align-self: center;
}

.card-collection-container {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
   
}

.card-body {
  opacity: 0.85;
}

.footer {
  opacity: 0.65
}

